body
{
    color:darkgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #ad0f0f;
    margin: 0 auto;
}