body
{
    color:rgb(21, 226, 52);
    text-align: center;
    font-family: Arial;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #ad0f0f;
    margin: 0 auto;
}